@media (max-width: 1023px) {
  .bot-pages {
    top: 81.15rem;
  }
  .bot-enchant {
    top: 87.15rem;
  }
}
@media (min-width: 1024px) {
  /****************************************** Titre ****************************************/
  .explorer h1 {
    width: 680px;
    font-size: 40px;
    margin: 0.5rem;
  }
  .explorer p {
    width: 50rem;
    font-size: 18px;
    margin: 0.5rem;
    padding-bottom: 0.8rem;
  }

  .explorer button {
    margin: 0.5rem;
  }

  /***************************************** fontionnement **********************************/
  .choix-global {
    flex-direction: row;
    gap: 35px;
  }

  .fonctionnement {
    height: 16rem;
  }

  /******************************************* restaurant ****************************/

  .global-restaurants {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .restaurant-card img {
    width: 523px;
  }

  .restaurants h2 {
    width: 96%;
    margin-bottom: 2rem;
  }

  .description-restaurants label {
    top: 0.5rem;
    left: 30rem;
  }

  .restaurant-card .com-new {
    left: 27rem;
  }
  .choix {
    width: 292px;
  }
  /************************************************************ pied de page  ******************************************/

  footer {
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 5rem;
  }
  footer .footer-description {
    flex-direction: row;
  }

  footer img {
    margin-bottom: 0;
    margin-left: 8rem;
  }
  .footer {
    top: 121.15rem;
  }

  .bot-enchant {
    top: 106rem !important;
  }
  /***************************** pages annexes ***************************************/
  .card {
    padding: 3rem 12rem;
    width: 75%;
    margin-top: 15rem;
  }

  .title-card {
    justify-content: center;
  }
  .title-card i {
    margin-bottom: 3.5rem;
    margin-left: 2rem;
  }

  .title-card h2 {
    margin-bottom: 3rem;
  }

  .bot-pages {
    top: 103rem;
  }
}

@media (min-width: 1071px) {
  .bot-pages {
    top: 102.15rem !important;
  }
  .bot-enchant {
    top: 106.15rem !important;
  }
  .footer {
    top: 84.15rem;
  }
}

@media (min-width: 1440px) {
  .choix {
    width: 335px;
  }

  .restaurants {
    height: 85vh;
  }

  .restaurants h2 {
    width: 78%;
  }
}

@media (min-width: 1619px) {
  .restaurant-card img {
    width: 670px;
  }

  .restaurant-card .com-new {
    left: 36rem;
  }

  .description-restaurants label {
    left: 39rem;
  }

  .choix {
    width: 432px;
  }
  main h2 {
    display: flex;
    flex-direction: column;
  }
  .restaurants h2 {
    width: 87.5rem;
  }
}

@media (max-width: 369px) {
  .choix {
    width: 280px;
  }

  .restaurants h2 {
    width: 20rem;
  }

  .restaurant-card img {
    width: 288px;
  }

  .restaurant-card .com-new {
    left: 12rem;
  }

  .heart-checkbox .fa-regular {
    left: -2.5rem;
  }
  .heart-checkbox .fa-solid {
    left: -40.8px;
  }

  .title-card h2 {
    font-size: 1.5rem;
  }

  .title-card .check {
    top: 15px;
  }

  .title-card .nocheck {
    margin-top: 0.25rem;
  }
}

@media (min-width: 2730px) {
  .global-restaurants {
    width: 50%;
  }
}
@media (min-width: 2060px) {
  .global-restaurants {
    width: 70%;
  }
}
@media (min-width: 2943px) {
  .global-restaurants {
    width: 60%;
  }
}
@media (min-width: 3433px) {
  .global-restaurants {
    width: 50%;
  }
}

.container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  animation: fadeInUp 0.7s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container:nth-child(1) {
  animation-delay: 0.1s;
}
.container:nth-child(2) {
  animation-delay: 0.3s;
}
.container:nth-child(3) {
  animation-delay: 0.6s;
}

.container:nth-child(4) {
  animation-delay: 0.8s;
}

.container:nth-child(5) {
  animation-delay: 1s;
}
