@media (min-width: 1024px) {
  /****************************************** Titre ****************************************/
  .explorer h1 {
    width: 680px;
    font-size: 40px;
    margin: 0.5rem;
  }
  .explorer p {
    width: 50rem;
    font-size: 18px;
    margin: 0.5rem;
    padding-bottom: 0.8rem;
  }

  .explorer button {
    margin: 0.5rem;
  }

  /***************************************** fontionnement **********************************/
  .choix-global {
    flex-direction: row;
    gap: 35px;
  }

  .fonctionnement {
    height: 16rem;
  }

  /******************************************* restaurant ****************************/

  .global-restaurants {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .restaurant-card img {
    width: 523px;
  }

  .restaurants h2 {
    width: 96%;
    margin-bottom: 2rem;
  }

  .description-restaurants label {
    top: 0.5rem;
    left: 30rem;
  }

  .restaurant-card .com-new {
    left: 27rem;
  }
  .choix {
    width: 292px;
  }
  /************************************************************ pied de page  ******************************************/

  footer {
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 5rem;
  }
  footer .footer-description {
    flex-direction: row;
  }

  footer img {
    margin-bottom: 0;
    margin-left: 8rem;
  }

  .bot-enchant {
    top: 107rem !important;
  }
  /***************************** pages annexes ***************************************/
  .card {
    padding: 3rem 12rem;
    width: 75%;
    margin-top: 15rem;
  }

  .title-card {
    margin-left: 3.5rem;
  }

  .title-card h2 {
    margin-bottom: 3rem;
  }

  .bot-pages {
    top: 103rem;
  }
}

@media (min-width: 1440px) {
  .title-card {
    margin-left: 12.5rem;
  }

  .choix {
    width: 335px;
  }

  .restaurants h2 {
    width: 78%;
  }
}

@media (min-width: 1619px) {
  .restaurant-card img {
    width: 670px;
  }

  .restaurant-card .com-new {
    left: 36rem;
  }

  .description-restaurants label {
    left: 39rem;
  }

  .choix {
    width: 432px;
  }
  main h2 {
    display: flex;
    flex-direction: column;
  }
  .restaurants h2 {
    width: 87.5rem;
  }

  .title-card .nocheck {
    margin-left: 18.85rem;
    margin-top: -2.2rem;
  }

  .title-card {
    margin-left: 19rem;
  }

  .title-card .check {
    left: 303px;
    top: 15px;
  }
}

@media (min-width: 1750px) {
  .title-card {
    margin-left: 24.5rem;
  }
}

@media (max-width: 369px) {
  .choix {
    width: 280px;
  }

  .restaurants h2 {
    width: 20rem;
  }

  .restaurant-card img {
    width: 288px;
  }

  .restaurant-card .com-new {
    left: 12rem;
  }

  .heart-checkbox .fa-regular {
    left: -2.5rem;
  }
  .heart-checkbox .fa-solid {
    left: 268px;
  }

  .title-card h2 {
    font-size: 1.5rem;
  }

  .title-card .check {
    top: 15px;
  }
  .heart-checkbox .fa-regular {
    left: 13.65rem;
  }
  .title-card .nocheck {
    margin-top: 0.25rem;
  }
}
