html {
  margin: 0;
  padding: 0;
}
// ******************************Header***********************************
.header {
  position: relative;
}
.arrow {
  position: absolute;
  left: 1.5rem;
  font-size: 1.2rem;
}

// ************************Image présentation**********************************************
.image-entete {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  img {
    object-fit: cover;
    width: 100%;
    max-height: 30rem;
  }
}

// section

.card {
  background-color: $grey-light;
  position: absolute;
  z-index: 2;
  top: 200px;
  padding: 1rem;
  border-radius: 35px 35px 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title-card {
  h2 {
    font-family: "Shrikhand", cursive;
    margin: 0;
    font-size: 1.7rem;
    margin-top: 0.5rem;
  }
  .nocheck {
    margin-left: 3rem;
    margin-top: 0.44rem;
  }
  .check {
    left: 303px;
    top: 15.85px;
    font-size: 1.34rem;
  }
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

.main-articles {
  display: flex;
  flex-direction: column;
}
.first-article {
  gap: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  .subtitle-card {
    border-bottom: solid 3px $green-light;
    padding-bottom: 0.5rem;
    width: 40px;
    margin: 0;
  }
}
