.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 100%;
  position: relative;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  img {
    width: 156px;
    height: auto;
  }
  p {
    color: $grey-dark-plus;
  }
}

.localisation {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey-dark;
  height: 50px;
  width: 100%;
  i {
    margin-right: 0.5rem;
  }
}
