// *********************************Titre en-tête******************************************************

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $grey-light;
  height: 16rem;
  h1 {
    margin: 0;
    width: 17rem;
    padding: 0.6rem;
  }
  p {
    color: $grey-dark-plus;
    width: 315px;
    padding-bottom: 1.4rem;
  }
}
// ******************************section fonctionnement********************************************
.fonctionnement {
  padding-bottom: 2rem;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choix-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#active {
  color: $purple-light;
}

// restaurants
.restaurants {
  background-color: $grey-light;
  padding-bottom: 4rem;
  padding-top: 2rem;

  h2 {
    padding: 1.5rem;
    margin: 0;
  }
}

.global-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
