.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $grey-light;
  height: 16rem;
  h1 {
    margin: 0;
    width: 17rem;
  }
  p {
    color: $grey-dark-plus;
    width: 315px;
  }
}
