button,
.button {
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 50px;
  border: none;
  padding: 0.8rem 1.2rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  a {
    color: $grey-light;
    font-weight: 500;
  }
}

button,
.button:hover {
  opacity: 0.85;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 15px rgba(0, 0, 0, 0.35);
  transition: 0.3s;
}

.button-commander {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  button {
    width: 9rem;
  }
}

.button {
  color: white;
}
