.heart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.heart-icon {
  font-size: 1.5rem;
  color: rgb(249, 249, 249);
  transition: color 0.5s ease-in-out;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(4, 4, 4);
}

.heart-icon:hover {
  background: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: none;
}
