/* Cacher la case à cocher par défaut */
.heart-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Styliser l'icône de cœur */
.heart-checkbox {
  cursor: pointer;
  .fa-solid {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    color: #ffffff;
    z-index: 1;
  }

  .fa-regular {
    position: absolute;
    color: rgb(39, 39, 39);
    z-index: 2;
    font-size: 25px;
  }
}

/* Masquer le cœur vide lorsque la case est cochée */
.heart-checkbox input:checked + i::before {
  content: "\f004";
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
