.restaurant-card {
  border-radius: 20px;
  background-color: white;
  height: 17rem;
  img {
    width: 346px;
    height: 200px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
}

.description-restaurants {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0.5rem;
  padding-left: 1rem;

  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }

  p {
    margin: 0;
    font-size: 17px;
  }

  label {
    position: absolute;
    left: 18rem;
    top: 0.4rem;
  }
}
